/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F6F8;
}

/* Barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #6A7F93;
}

.logo img {
    max-height: 60px;
    width: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f1c40f;
}

.btn-registrar {
    background-color: #F0EAD6;
    color: #A54B3B !important;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: bold;
}

/* Banner */
.banner {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    color: #000;
    position: relative;
}

.banner::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.banner-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 0 20px;
}

.banner-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.cidades-destaque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Container que vai organizar os cards lado a lado */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Estilo do texto Destaque */
.destaque {
    color: #C3B37D;
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
    font-size: 2.5rem;
}

/* Estilo de cada card individual */
.card {
    background-color: #F0EAD6;
    border-radius: 8px;
    overflow: hidden;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

/* Ao passar o mouse, o card vai dar um zoom */
.card:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

/* Imagem ocupar o tamanho todo do card */
.card img {
    width: 100%;
    height: auto;
}

/* Estilo do conteúdo do card */
.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Estilo do título do card */
.card-content h3 {
    color: #A54B3B;
    margin-bottom: 10px;
    font-size: 2rem;
}

/* Estilo do Botão de ver mais */
.btn-vermais {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    background-color: #F0EAD6;
    color: #A54B3B;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}